/* Seattle Font - Regular */
@font-face {
  font-family: "seattle-regular";
  src: url("../assets/fonts/Seattle/WOFF/SeattleRegular.woff?v=20260515")
      format("woff"),
    url("../assets/fonts/Seattle/OTF/SeattleRegular.otf?v=20260515")
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Seattle Font - Bold */
@font-face {
  font-family: "seattle-bold";
  src: url("../assets/fonts/Seattle/WOFF/SeattleBold.woff?v=20260515")
      format("woff"),
    url("../assets/fonts/Seattle/OTF/SeattleBold.otf?v=20260515")
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Eight Extra Condensed Font - Heavy Weight */
@font-face {
  font-family: "eight-extra-condensed";
  src: url("../assets/fonts/8/WOFF/8-Heavy.woff2") format("woff2"),
    url("../assets/fonts/8/WOFF/8-Heavy.woff") format("woff"),
    url("../assets/fonts/8/OTF/8-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
