/* CSS-Dateien in der richtigen Reihenfolge importieren */
@import url("./fonts.css");
@import url("https://assets.mlcdn.com/fonts.css?version=1767876");
@import url("./reset.css");
@import url("./variables.css");
@import url("./base.css");
@import url("./header.css");
@import url("./footer.css");
@import url("./layout.css");
@import url("./waitlist.css");
